@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// RED
$red-light: #ff0101b2;
$red-medium: #ff0101;
$red-pure: #ff0000;

// BLUE
$blue-light: #4ab8ff1a;
$blue-medium: #4ab8ff;
$blue-dark: #282d30;

// YELLOW

$yellow-light: #f9ce231a;
$yellow-medium: #fdcc0c;

// PINK

$light-pink: #fd51811a;
$pink-medium: #fd5181;

// GREY
$grey-light: #dedede;
$grey-medium: #74798c;

// BASICS
$white: #ffffff;
$black: #000000;

// FONT
$font1: 'Roboto', sans-serif;
