.barchart-container {
    grid-area: barchart;
    margin-bottom: 40px;
    max-width: 1000px;
    width: 100%;
    .recharts-legend-item-text {
        color: $grey-medium !important;
    }

    .custom-tooltip-barchart {
        background-color: $red-medium;
        border-radius: 4px;
        padding: 5px;
        font-size: 14px;
        height: 63px;
        border: none !important;
        padding: 12px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .custom-tooltip-barchart .label {
        color: $white;
        margin: 0;
        font-size: 7px;
        font-family: $font1;
    }


}