.welcome {
    margin-top: 40px;
    margin-bottom: 68px;
    grid-area: welcome;
    @media (max-width: 1351px) {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 41px;

        span {
            color: $red-medium;
        }
    }
    p {
        font-size: 18px;
    }
}